body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

#root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: calc(600vw/1024*100); /* for aspect-ratio 1024:600 */
  background-color: white;
  font-size: 3vw;
}

button, select {
  font-size: 3vw;
  background-color: white;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.content {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tabs {
  margin-top: auto;
}

.entertainment-select {
  margin-bottom: 10px;
}

.active {
  color: blue;
  border-color: blue;
}

.hidden {
  display: none;
}